@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Yaldevi:wght@600&display=swap');

@theme {
    --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-display: 'Yaldevi', sans-serif;

    --color-primary: #2F80ED;
    --color-secondary: #828282;
    --color-success: #27AE60;
    --color-error: #EB5757;
    --color-background: #FFFFFF;
    --color-background-alt: #F2F2F2;
}
